body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
input[type="checkbox"] + label,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Larger and more visible */
}

button:hover {
    background-color: #45a049;
}
